body
  font-family 'Roboto', sans-serif
  background #f8f8f8

.header
  background linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%)
  color #fff
  font-size 20px
  position relative
  height 30vh
  display flex
  flex-direction columns
  align-items center
  justify-content center

  &__score
    font-size 75px
    text-align center

  &__formula
    text-align center

.section
  margin-top 100px
